{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="d-flex flex-column align-items-center text-center px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Club Hub Admin</strong></h1>
        <div class="row">
            <!-- Admin Control Card on the left -->
            <div class="col-md-4">
                <div class="card" style="width: 100%;">
                    <div class="card-header bg-primary text-white">
                        <h5>User Management</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">As an Admin, you can edit user, delete user, and update password.</p>
                        <a href="{{ url_for('utable') }}" class="btn btn-warning btn-block">Go to User Management</a>
                    </div>
                </div>
            </div>

            <!-- Club Hub Info Card with Link Next to it on the right -->
            <div class="col-md-8">
                <div class="row">
                    <!-- Club Hub Description Card -->
                    <div class="col-md-8">
                        <div class="card" style="width: 80%;">
                            <img class="card-img-top" src="{{ url_for('static', filename='assets/clubhub.jpeg') }}" alt="clubhub" height="250">
                            <div class="card-body">
                                <h5 class="card-title">What is <mark>Club Hub?</mark></h5>
                                <p class="card-text">
                                    <ol>
                                        <li>Club Hub is a comprehensive web application designed to centralize all club-related information for Del Norte High School.</li>
                                        <li>It streamlines the student experience by providing features such as club matching,</li>
                                        <li>updates on club events and announcements</li>
                                        <li>Personalized profiles</li>
                                        <li>Apply for Leaderships</li>
                                        <li>Create Clubs</li>
                                    </ol>
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Link to Frontend Card -->
                    <div class="col-md-4">
                        <div class="card" style="width: 100%;">
                            <div class="card-header bg-success text-white">
                                <h5>Visit Our Website!</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Click the link below to view the website of Club Hub.</p>
                                <a href="https://magic005.github.io/Club_Hub_Frontend/" class="btn btn-primary btn-block" target="_blank">Go to ClubHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
